#main_pic{
    background-image: url('env_home_pic.jpg');
    height: 100vh;
    background-size: cover;
    text-align: center;
    margin: 0px; 
    color: white;
}

#center_text{
    transform: translate(0vh, 30vh);
    color: #ffffff;        
}